[package]
name = "contracts"
version = "0.1.0"
edition = "2021"

[dependencies]
serde = { version = "1.0", features = ["derive"] }
thiserror = "1.0"
ledger = { path = "../ledger" }
storage = { path = "../storage" }
vm = { path = "../vm" }
