[package]
name = "interop"
version = "0.1.0"
edition = "2021"

[dependencies]
serde = { version = "1.0", features = ["derive"] }
thiserror = "1.0"
ledger = { path = "../ledger" }
crypto = { path = "../crypto" }
serde_json = "1.0.149"
